* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

div.title-bar {
  display: flex;
  flex-direction: row;
  height: 2rem;
  min-height: 2rem;
  align-self: baseline;
  width: 100%;
  user-select: none;
  -webkit-app-region: drag;
}

div.title-bar > div.information-container {
  display: flex;
  flex-grow: 1;
}

div.information-container > span.title {
  font-size: 14px;
  align-self: center;
  margin-left: 1rem;
}

div.window-controls {
  margin-left: auto;
  display: flex;
  gap: 0;
}

div.window-controls > button.control {
  width: 3rem;
  height: 100%;
  border: none;
  border-radius: 0rem;
  background-color: transparent;
  transition: all 150ms cubic-bezier(0.2, 0, 0, 1);
  -webkit-app-region: no-drag;
}

div.window-controls > button.control:hover {
  background-color: #E0E0E0;
}

div.window-controls > button.control[data-type="close"]:hover {
  background-color: #e81123;
  color: white;
}

div.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  max-height: calc(100vh - 2rem);
  padding: 3rem;
  gap: 2rem;
}

div.blocker {
  display: flex;
  flex-direction: column;
  border: 1px solid #1f2630;
  min-width: 40rem;
  width: calc(100% - 15rem);
}

div.blocker > div.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

div.blocker > div.header > .status-label {
  color: white;
  background-color: #44546a;
  font-weight: 500;
  font-size: 14px;
  padding: 0.5rem 1rem;
}

div.blocker > div.header > .status {
  color: white;
  font-weight: 500;
  font-size: 14px;
  padding: 0.5rem;
  text-align: center;
}

div.blocker .status.on-track {
  background-color: #70ad47;
}

div.blocker .status.behind {
  background-color: #ffc000;
}

div.blocker .status.out-of-track {
  background-color: red;
}

div.blocker > div.header > .progress-label {
  color: white;
  background-color: #44546a;
  font-weight: 500;
  font-size: 14px;
  padding: 0.5rem 1rem;
}

div.blocker > div.header .progress {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border-bottom: 1px solid #44546a;
  background-color: #FFFFFF;
}

div.blocker > div.body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

div.blocker > span.title {
  font-size: 20px;
  padding: 0.5rem;
  text-align: center;
  font-weight: 500;
  background-color: #44546a;
  color: white;
}

div.blocker > div.body > div.section {
  min-height: 4rem;
  background-color: white;
  max-height: 15rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

div.blocker > div.body > div.section > span.section-title {
  font-weight: 500;
  font-size: 14px;
  padding: 0.25rem;
  position: sticky;
  top: 0;
  background-color: white;
}

div.blocker > div.body > div.section > div.section-body {
  padding: 0.5rem;
}

div.blocker > div.body > div.section:first-child {
  border-right: 1px solid #44546a;
  border-bottom: 1px solid #44546a;
}

div.blocker > div.body > div.section:nth-child(2) {
  border-bottom: 1px solid #44546a;
}

div.blocker > div.body > div.section:nth-child(3) {
  border-right: 1px solid #44546a;
}

button.copy-button {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  width: 3rem;
  aspect-ratio: 1;
  border: 1px solid #c4ccd7;
  outline: none;
  background-color: #d2dbe7;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 150ms cubic-bezier(0.2, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

button.copy-button > svg {
  background-image: ('/ui/assets/icons/copy.svg');
  width: 2rem;
  height: 2rem;
}

button.copy-button:hover {
  background-color: #d7e1f1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

button.copy-button:active {
  background-color: #c1ccd8;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border-radius: 0.75rem;
}

div.report {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 40rem;
  width: 90%;
  border: 1px solid #44546a;
  width: calc(100% - 15rem);
  outline: 1rem solid white;
}

div.report > div.header {
  display: flex;
  flex-direction: row;
  background-color: #44546a;
  justify-content: space-between;
}

div.report > div.header > span.title {
  font-size: 18px;
  padding: 0.5rem;
  text-align: center;
  font-weight: 500;
  background-color: #44546a;
  color: white;
}

div.report > div.header div.target-date {
  display: flex;
  font-size: 15px;
  font-weight: 500;
  align-items: center;
  padding: 1rem;
  color: white;
  width: 15rem;
  justify-content: center;
}

div.report > div.header div.status-container {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
  color: #FFFFFF;
  margin-left: auto;
}

div.report > div.header div.status-container.on-track {
  background-color: #70ad47;
}

div.report > div.header div.status-container.behind {
  background-color: #ffc000;
}

div.report > div.header div.status-container.out-of-track {
  background-color: red;
}

div.report > div.header div.progress-container {
  width: 10rem;
  background-color: #FFFFFF;
  display: flex;
  padding: 0.25rem;
}

div.report > div.header div.progress-container > div.progress-bar {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
}

div.report > div.information {
  display: flex;
  flex-direction: column;
}

div.report > div.information > span {
  font-size: 15px;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  background-color: #d2dbe7; 
}

div.report > div.information > textarea {
  resize: vertical;
  min-height: 1.5rem;
  border: none;
}

div.report > table.milestone-container {
  border-collapse: collapse;
}

table.milestone-container > thead th {
  background-color: #d2dbe7;
  font-size: 15px;
  padding: 0.25rem 0.5rem;
}

table.milestone-container > thead th:first-child {
  width: 50%;
  text-align: start;
}

table.milestone-container > tbody > tr {
  font-size: 14px;
}

table.milestone-container > tbody > tr.milestone {
  background-color: #efefef;
  font-size: 15px;
  font-weight: 500;
}
table.milestone-container > tbody > tr.milestone > td {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  background-color: #efefef;
}

table.milestone-container > tbody > tr > td {
  text-align: center;
  padding: 0rem 0.5rem;
  background-color: white;
}

table.milestone-container > tbody > tr > td:first-child {
  text-align: start;
}

table.milestone-container > tbody > tr > td:last-child {
  padding: 0.125rem;
}

table.milestone-container > tbody > tr > td > div.progress-bar > span {
  font-size: 13px;
}

div.progress-bar {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

div.progress-bar > span {
  position: relative;
  font-weight: 500;
  padding: 0.25rem;
  z-index: 1;
}

div.progress-bar > div.progress-background {
  width: var(--progress);
  position: absolute;
  z-index: 0;
  height: 100%;
  top: 0;
  max-width: 100%;
}

div.progress-bar.on-track > div.progress-background {
  background: linear-gradient(90deg, rgba(99,195,132,1) 0%, rgba(255,255,255,1) 100%);
  border: 1px solid #63c384;
}

div.progress-bar.behind > div.progress-background {
  background: linear-gradient(90deg, rgba(255,182,40,1) 0%, rgba(255,255,255,1) 100%);
  border: 1px solid #ffb628;
}

div.progress-bar.out-of-track > div.progress-background {
  background: linear-gradient(90deg, rgba(255, 85, 90, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border: 1px solid #ff555a;
}

button.fab-menu {
  position: absolute;
  top: 3rem;
  left: 2rem;
  background-color: #d2dbe7;
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid #c4ccd7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition: all 150ms ease-out;
  z-index: 2;
}

button.fab-menu:hover {
  background-color: #d7e1f1;
  /* transform: translateY(-1px); */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

button.fab-menu:active {
  background-color: #c1ccd8;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border-radius: 0.75rem;
}

button > span.icon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}

button.menu-item {
  background-color: #e0e2e7;
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  padding: 0rem;
  align-items: center;
  cursor: pointer;
  border: 1px solid #d4d7df;
  animation-name: menuItemEnter;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.77, 0, 0.18, 1);
  transform-origin: center;
  opacity: 0;
  transition: all 150ms cubic-bezier(0.2, 0, 0, 1);
  z-index: 2;
  position: relative;
  animation-delay: calc(5ms * var(--index));
}

button.menu-item:hover {
  background-color: #e9eef9;
}

button.menu-item:active {
  background-color: #d0d3da;
  border-radius: 0.75rem;
}

button.menu-item > span.tooltip {
  opacity: 0;
  position: absolute;
  background-color: #333333;
  border: 1px solid #333333;
  color: #E0E0E0;
  font-size: 14px;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  left: 2.5rem;
  user-select: none;
  pointer-events: none;
  width: auto;
  white-space: nowrap;
  transition: all 150ms cubic-bezier(0.2, 0, 0, 1);
  transform: scale(80%);
}

button.menu-item:hover > span.tooltip {
  opacity: 1;
  transform: scale(100%);
}

button > span.icon.zoom_in {
  background-image: url('../assets/icons/zoom_in.svg');
  background-size: auto;
  background-position: center;
}

button > span.icon.zoom_out {
  background-image: url('../assets/icons/zoom_out.svg');
  background-size: auto;
  background-position: center;
}

button > span.icon.zoom_reset {
  background-image: url('../assets/icons/zoom_reset.svg');
  background-size: auto;
  background-position: center;
}

button > span.icon.settings {
  background-image: url('../assets/icons/settings.svg');
  background-size: auto;
  background-position: center;
}

button > span.icon.help {
  background-image: url('../assets/icons/help.svg');
  background-size: auto;
  background-position: center;
}

button > span.icon.menu {
  background-image: url('../assets/icons/menu.svg');
  background-size: auto;
  background-position: center;
}

button > span.icon.reload {
  background-image: url('../assets/icons/reload.svg');
  background-position: center;
}

div.menu-container {
  position: absolute;
  display: none;
  flex-direction: column;
  left: 2.25rem;
  top: 6.5rem;
  gap: 0.5rem;
}

div.menu-container.close-menu {
  animation-name: closeMenu;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.77, 0, 0.18, 1);
}

@keyframes menuItemEnter {
  0% {
    transform: translateY(-60px * var(--index));
    opacity: 0;
  }

  25% {
    opacity: 0;
    transform: scale(150%);
  }

  100% {
    transform: translateY(0px) scale(100%);
    opacity: 1;
  }
}

@keyframes closeMenu {
  0% {

  }

  100% {
    opacity: 0;
  }
}